@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(255, 255, 255, 0)), url(../img/new3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;

    .media {
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background: white;

        p {
            font-weight: 500;
            font-size: 18px;
            transform: rotate(90deg);
            text-align: center;
            color: rgb(65, 65, 65);

        }



    }


    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        color: #eee;


        .logo {
            margin-left: 50px;
            margin-top: 15px;
            font-weight: 600;
        }

        .menu ul {
            margin-right: 150px;
            display: flex;
            margin-top: 15px;

            li {
                padding: 10px 30px;
            }
        }
    }

    .hero {
        margin-top: 150px;
        color: #eee;
        margin-left: 50px;
        font-size: 30px;

    }
}




.two-cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    color: #eee;


    .right-card::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        background: transparent;
    }

    .right-card {

        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(94, 72, 54);
        width: 700px;

        position: relative;

        .small-img {
            position: relative;
            background-image: url(../img/smallcard1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 260px;
            height: 160px;
            margin-right: 20px;

            .play-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                z-index: 5;

                i {
                    color: white;
                }
            }
        }

        .small-img::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.241);
            z-index: 1;
        }

        .text {
            margin-right: 10px;
            border-bottom: 3px solid #eee;
        }

        .main-txt {
            font-size: 30px;
            padding-bottom: 15px;
        }

        .title {
            margin-top: 10px;
            font-size: 18px;
            margin-bottom: 10px;
        }

        img {
            margin: 0 20px 0 0;
        }
    }

    .left-card {
        width: 500px;
        margin-left: 50px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        padding: 20px 0;

        .text {

            color: black;
            font-size: 25px;
        }

        .title {
            font-size: 16px;
            color: rgb(94, 72, 54);
            font-weight: 600;
            margin: 10px 0;
        }
    }
}

.four-cards-section {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    .col {
        max-width: 300px;
        padding: 20px;

        .main-text {
            font-size: 13px;
            font-weight: 600;
            color: #333;

        }
    }

    .col-4 {
        position: relative;
        color: rgb(39, 39, 39);

        .gray {
            color: gray;

        }
    }

    .col-4::after {
        position: absolute;
        content: "";
        top: 10px;
        left: 40;
        width: 40%;
        height: 3px;
        background: linear-gradient(to right, rgb(138, 138, 138) 30%, #333 30%);
    }

    .title {
        margin: 0 0 10px 0;
        font-size: 16px;
        font-weight: 600;
        color: rgb(94, 72, 54);
    }


}

@media screen and (max-width:1100px) {
    .menu {
        display: none;
    }


}


@media screen and (max-width:700px) {
    .bg-img .media {
        display: none;
    }

    .hero {
        font-size: 16px;
        margin: 10px;
    }

    nav .logo {
        font-size: 16px;
        margin: 10px;
    }

    .col {
        width: auto;
    }


    .right-card {
        text-align: center;
    }

    .text {
        margin: 0;
    }

    .two-cards-section .left-card {
        text-align: center;
        font-size: 10px;
        padding: 0px;
        margin: 0 !important;
    }

    .small-img {
        display: none;
    }


}

@media screen and (max-width:400px) {
    .two-cards-section .right-card .text {
        text-align: center;
        font-size: 15px;
        padding-bottom: 10px;
        margin: 0 !important;
    }

    .two-cards-section .text {
        margin: 0;
    }

    .bg-img nav .logo {
        text-align: center;

    }

    .two-cards-section .left-card .text {
        text-align: center;
        font-size: 15px;
        padding-bottom: 10px;
        margin: 0 !important;
    }

    .bg-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.403)), url(../img/new3.jpg);

    }
}